.top-banner {
    background-color: orange; 
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    
  }
  .home{
    font-size: 40px;
    margin-left: 30px;
  }
  .nav-icon .bar {
    width: 30px;
    height: 2.5px;
    background-color: #fff;
    margin: 5px 0;
    text-align: right;
  }
  .nav-icon{
    cursor: pointer;
    margin-right: 30px;
  }
  .genre-text {
    margin-left: 50px ; 
    font-size: 30px; 
    color: black;
  }
  .book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Gap between grid items */
    margin-top: 50px;
  }
  .book-item {
    text-align: center;
  }
  .book-item img {
    width: auto;
    height: 200px; 
    display: block;
    margin: 0 auto; 
  }
  .genre{
    font-size: 20px;
    padding: 20px; 
    margin-top: 5px;
    margin-bottom: 40px;
    cursor: pointer;
  }

  .blended-background {
    background: linear-gradient(#FF9800, #EFBA00); 
  }

  #search-box {
    width: 700px; 
    height: 40px; 
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px; 
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  .imageStyle {
    width: auto;
    height: 200px; 
    display: block;
    margin: 0 auto;
  }
  .paperStyle {
    text-align: center;
   }

   .book-entry {
    display: flex;
    align-items: center;
    margin: 50px;
}

.book-image {
  width: 100%; 
  max-width: 200px; 
  height: 255px;  /* Adjust the width of the book image */
  margin-right: 10px; /* Space between image and text */
}

.book-details {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.book-details h3 {
  margin: 5px 0;
  font-size: 30px;
}

.book-details p {
  margin: 5px 0;
  font-size: 20px;
}

.body {
  flex: 1; /* Fill remaining vertical space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}